.butao {
    border-radius:50px;
    background-color:gainsboro;
    border: 0px solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    width:75px;
    font-size: 12px;
    color:black;
    text-align: center;
    padding: 15px, 20px, 15px, 20px;
    margin-right: 10px
}
header {
    background-color:mediumslateblue;
    height: 70px;
    width:100%;
    display:inline-block;
}
ul{
    float:right;
    margin-right: 45px;
}
footer {
background-color:mediumslateblue;
height: 50px;
width:100%;
}
#butaum {
background-color:mediumslateblue;
border:0px solid;
font-family:Verdana, Geneva, Tahoma, sans-serif;
float:right;
height:20px;
margin-top:15px;
margin-right:25px;
color:white;
font-weight: bold;
}
#nomealto {
    border: 0px solid;
    background-color: mediumslateblue;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    float:left;
    height: 30px;
    margin-top: 20px;
    margin-left:20px;
}
#nomebaixo {
    border: 0px solid;
    background-color: mediumslateblue;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    float:left;
    height: 30px;
    margin-top:10px;
    margin-left:20px;
}
.esquerdo {
    margin-bottom: 15px;
    height:25px;
    width:240px;
    padding-left: 10px;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color:azure;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color:slategray;
    border-top: 0px;
    border-left: 0px;
}
.direito {
    margin-left:20px;
    margin-bottom: 15px;
    height: 25px;
    width: 240px;
    padding-left: 10px;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color:azure;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color:slategray;
    border-top: 0px;
    border-left: 0px;
}
#grande {
    margin-bottom: 15px;
    height: 90px;
    width: 240px;
    padding-left: 10px;
    padding-top: 7px;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color:azure;
    border: 1px solid;
    border-bottom: 1px solid;
    border-color:slategray;
    border-top: 0px;
    border-left: 0px;
}
#titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:24px;
    font-weight:bold;
    margin-bottom: 15px;
}
.box {
    border: 1px solid gray;
    border-radius: 15px;
    width: 600px;
    margin-left: 430px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    height: 300px;
    margin-bottom: 50px;
}
textarea {
    resize:none;
}
.envio {
    height: 25px;
    width: 530px;
    border: 0px;
    background-color:indigo;
    color:white;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#titulobaixo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:24px;
    font-weight:bold;
    margin-bottom: 15px;
}
.inputlogin {
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color:azure;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color:slategray;
    height: 25px;
    width: 525px;
    margin-bottom: 15px;
    border-top: 0px;
    border-left: 0px;
    padding-left: 10px;
}