img {
    height: 30%;
    width: 40%;
    border-radius: 7px;
}
.grid {
    height: 45%;
    width: 45%;
    border: 1px dotted red;
}
#flex {
display:grid;
gap: 10px;
justify-content: start;
column-width: 150px;
}