footer {
    background-color:mediumslateblue;
    height: 50px;
    width:100%;
    margin-top:4%;
}
.nomebaixo {
    border: 0px solid;
    background-color: mediumslateblue;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    float:left;
    height: 30px;
    margin-top:10px;
    margin-left:20px;   
    font-weight: bold; 
}