.butao {
    border-radius:50px;
    background-color:gainsboro;
    border: 0px solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    width:75px;
    font-size: 12px;
    color:black;
    text-align: center;
    padding: 15px, 20px, 15px, 20px;
    margin-right: 10px
}
.butaum {
    background-color:mediumslateblue;
    border:0px solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float:right;
    height:20px;
    margin-top:15px;
    margin-right:25px;
    color:white;
    font-weight: bold;
}
.inputlogin {
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color:azure;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color:slategray;
    height: 25px;
    width: 525px;
    margin-bottom: 15px;
    border-top: 0px;
    border-left: 0px;
    padding-left: 10px;
}
.box {
    border: 1px solid gray;
    border-radius: 15px;
    width: 600px;
    margin-left: 430px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    height: 300px;
    margin-bottom: 50px;
}
.espaco {
    height:174px;
}